{% extends '@Mobicoop/base.html.twig' %}

{% block title %}Hello{% endblock %}
{% block stylesheets %}
  {{ encore_entry_link_tags('bundle_users') }}
{% endblock %}
{% block body %}

    <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Mobicoop - Users
                </h1>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            {% if error is defined %}
                <span class="tag is-danger">{{ error }}</span>
            {% endif %}
            <a class="button is-primary" href="{{ path('user_sign_up') }}">Add user</a>
            {% if hydra %}
                <table class="table">
                    <tr>
                        <th>#</th>
                        <th>givenName</th>
                        <th>familyName</th>
                        <th>email</th>
                        <th>birthDate</th>
                        <th>Action</th>
                    </tr>
                    {% for user in hydra.member %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.givenName }}</td>
                            <td>{{ user.familyName }}</td>
                            <td>{{ user.email }}</td>
                            <td>{{ user.birthDate ? user.birthDate|date('Y-m-d') }}</td>
                            <td>
                                <a class="button is-primary" href="{{ path('user',{'id':user.id}) }}"> Detail</a>
                                <a class="button is-warning" href="{{ path('user_update',{'id':user.id}) }}"> Edit</a>
                                <a class="button is-danger" href="{{ path('user_delete',{'id':user.id}) }}"> Delete</a>
                                <a class="button is-link" href="{{ path('user_proposals',{'id':user.id}) }}"> Proposals</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <span class="tag is-warning">No users found.</span>
            {% endif %}
        </div>
    </section>

{% endblock %}

{% block javascripts %}
  {{ encore_entry_script_tags('bundle_users') }}
{% endblock %}